<!doctype html>
<html lang="en">
<head>
  <title>Change Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <!-- inner page section -->
  <section class="inner_page_head">
    <div class="container_fuild">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <h3>Change Password</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end inner page section -->

  <!-- form section -->
  <section class="why_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="full">
            <form [formGroup]="form" (ngSubmit)="changePassword()">
              <fieldset>
                <input formControlName="matchPassword" type="password" placeholder="Enter your current password" required />
                <input formControlName="newPassword" type="password" placeholder="Enter your new password" required />
                <input type="submit" value="Change Password" class="custom-button" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
