.header,
.columns {
    display: grid;
    grid-template-columns: 20% 20% 1fr;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
}

.columns {
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}

.header>div>div,
.columns div {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 33% 33% 33%;
}

.columns>div {
    justify-content: end;
}

.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item2;
}

.item-3 {
    grid-area: item3;
}

.item-4 {
    grid-area: item4;
}

.item-5 {
    grid-area: item5;
}

.item-6 {
    grid-area: item6;
}

.columns.multiple-product .date {
    grid-area: date;
}

.columns.multiple-product .price {
    grid-area: price;
}

.columns.multiple-product {
    grid-template-areas:
        'date price item1 item1 item1 item1'
        'date price item2 item2 item2 item2'
        'date price item3 item3 item3 item3'
        'date price item4 item4 item4 item4'
        'date price item5 item5 item5 item5'
        'date price item6 item6 item6 item6';
}

.table {
    border: 1px solid #F5F5F5;
    border-bottom: none !important;
    font-family: 'Poppins-300';
}

.header {
    background-color: #F5F5F5;
    padding: 1rem 0;
    font-family: 'Poppins-300';
}

.table .columns:nth-child(odd) {
    background-color: #F5F5F5;
}

h1 {
    font-family: 'Poppins-700';
    color: #9D3840;
    font-size: 2.1rem;
    margin-bottom: 2rem;
}
.center {
    text-align: center;
    font-family: monospace;
}
.empty-message{
    margin-top: 2rem ;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #2c5499;
}
.pagination {
    display: inline-block;
    margin-top: 2rem;
}
.pagination a {
    color: #000000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #DDD;
    margin: 0 4px;
    font-size: 20px;
}
.pagination a.active {
    background-color: #2c5499;
    color: #FFFFFF;
    border: 1px solid #2c5499;
}
.pagination a:hover:not(.active) {
    background-color: #DDD;
}
@media(max-width:768px) {

    .header,
    .columns {
        width: 300% !important;
    }

    .table {
        -webkit-overflow-scrolling: auto;
        width: 100%;
        overflow: auto;
    }
}



