<br>
 <!-- Breadcrumb -->
 <div *ngIf="productPageDto">
  <ul class="breadcrumb">
    <li><a routerLink="/allProducts">Catégories</a></li>
      <ng-container *ngFor="let breadcrumb of productPageDto.breadcrumbDTO; let last = last">
      <li *ngIf="!last">
          <a [routerLink]="[breadcrumb.url]">{{ breadcrumb.categoryLabel }}</a>
      </li>
      <li *ngIf="last" class="active" style="color: #000000;">
           {{ breadcrumb.categoryLabel }}
      </li>
    </ng-container>
  </ul>
</div>

<html>
<body>
  <main>
    <div class="card" >
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>New products</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>{{productPageDto.product.productTitle}}</h1>
            <p class="sub"></p>
            <p class="price">${{productPageDto.product.price}}</p>
          </div>
          <div class="image">
            <img [src]="productPageDto.product.imageUrl" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>{{productPageDto.product.description}}.</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Recommended by</p>
          <h3>Andrew Palmer</h3>
        </div>
        <div class="action">
          <button type="button" (click)="addToCart(productPageDto.product)">Add to cart</button>
        </div>
      </div>
    </div>
  </main>
</body>

</html>