<!doctype html>
<html lang="en">
<head>
  <title>Login Application E-Shopping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <!-- inner page section -->
  <section class="inner_page_head">
    <div class="container_fuild">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <h3>Reset-Password</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end inner page section -->

  <!-- why section -->
  <section class="why_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="full">
         
            <form [formGroup]="form" (ngSubmit)="resetPassword()">
              <fieldset>
                <input formControlName="email" type="email" placeholder="Enter your email address" name="email" required />
                <input type="submit" value="Send" class="custom-button" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end why section -->

</body>
</html>
